#container{            
    display: flex;
    width: 60%;
    border: 1px solid red;
    margin: auto;
}
form{
    width: 60%;
    
}
#register-form{
    width: 100%;
    line-height: 2;
    border: 1px solid red;
    
}