body {
    margin: 0px;
  }
  #header {
    display: flex;
    flex-wrap: wrap;
    background-color: #24292F;
    color: white;
  }
  a {
    text-decoration: none;
    color: white;
  }
  #logo {
    width: 5%;
    text-align: right;
  }
  #logo img {
    width: 40%;
    border-radius: 80%;
    padding: 9px;
  }
 
  #profile img {   
    margin-top: 5px;
    border-radius: 60%;
    width: 20%;
    height: 35px;
    margin-left: 130px;
    
  }
  #search {
    width: 15%;
    padding: 12px;
  }
  #search input
  {
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    border: 2px solid #57606A;
    background-color: transparent;
    color: white;
  }

  #list li {
    display: inline;
    margin-right: 2%;
  }
  #options {
    width: 60%;
  }
  #profile {    
    width: 15%;    
    /* border: 1px solid red; */
  }
  #profile a {
    position: absolute;
    top: 15px;
    /* border: 1px solid red; */
  }
